
.music_wrapper {
    background-color: lightgreen;
    margin-top: -21px;
}
.music_wrapper h1 {
    text-align: center;
    color: red;
}
.music {
    text-align: center;

}

.music_p {
    text-align: center;
}

.container {
margin-top: -40px;
}