.header {
    grid-area: h;
    background-color: cadetblue;
}

.header img {
    width: 30px;
    border-radius: 30px;
}

.react {
    text-align: center;
    font-family: "Arial Narrow";
    font-size: 28px;
    color: black;
}