.pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

.pre imgage {
    margin-left: 10px;
}

.links a {
   text-decoration: none;
}

.links a:hover {
    color: green;
}

.news {

}